<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>ToDo List</title>
</head>

<body>
    <div class="container">
        <h1>Things to do for today</h1>
        <div class="actions">
            <button id="add">Add</button>
            <button id="delete">Delete</button>
            <button id="edit">Edit</button>
        </div>
        <div class="tasks">
            <ul>
                <li>
                    <input type="checkbox" class="checkbox-round"> Take out the trash before God gets home.
                </li>
                <li>
                    <input type="checkbox" class="checkbox-round"> Wash the dishes in the sink.
                </li>
                <li>
                    <input type="checkbox" class="checkbox-round"> Sleep early Tomorrow's a big day.
                </li>
            </ul>
        </div>
        <h1>Completed</h1>
        <div class="tasks">
            <ul>
                <li class="completed">
                    <input type="checkbox" class="checkbox-round " checked> Take out the trash before God gets home.
                </li>
                <li class="completed">
                    <input type="checkbox" class="checkbox-round " checked> Wash the dishes in the sink.
                </li>
                <li class="completed">
                    <input type="checkbox" class="checkbox-round " checked> Sleep early Tomorrow's a big day.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>