html {
    height: 100vh;
}

body {
    background: linear-gradient(45deg, #EFD0CA, #214E34);
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
    margin: 0
}

h1 {
    font-family: "Roboto", sserif;
    color: #001B0B;
}

/* Solved the problem with distorting the checkbox when texts are too long  */
label {
    flex: 1;
    word-wrap: break-word;
    margin: 0;
    line-height: 1.4;
}

.container form {
    display: inline-block;
    /* Keep forms side by side */
    align-content: center;
    margin-right: 10px;
    /* Add some space between buttons */
}

.container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    border: 3px solid #214E34;
    border-radius: 20px;
    margin: 40px auto 20px auto;
    font-family: "Raleway", serif;
    background-color: #C6C6C6;
}



/*Actions Spacing and Styles*/
.actions {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

button {
    display: inline;
    width: 100px;
    margin-bottom: 20px;
    font-family: "Raleway", serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: rgba(33, 78, 52, .1) 0 1px 0;
    box-sizing: border-box;
    border-radius: 6px;
}

/*Task lists Styles*/
.tasks {
    width: 400px;
    font-size: 14px;
    font-weight: 500;
}

.tasks li {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Make Checkbox round */
.checkbox-round {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #214E34;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

/* if ticked/checked */
.checkbox-round:checked {
    background-color: #5C7457;
}

/* Action Buttons */
.add {
    background-color: #2C73FF;
    color: #fff;
}

.add:hover {
    background-color: #0048FF;
}

.add:active {
    background-color: #0022FF;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.done {
    background-color: #00C221;
    color: #fff
}

.done:hover {
    background-color: #00A819;
}

.done:active {
    background-color: #008013;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.edit {
    background-color: #828282;
    color: #fff;
}

.edit:hover {
    background-color: #676767;
}

.edit:active {
    background-color: #4E4E4E;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.user-input {
    display: block;
    width: 400px;
    box-sizing: border-box;
    padding: 5px 30px;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Raleway', serif;
    position: relative;
    /*    z-index: 99;*/
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 100px;
    background-color: #C6C6C6;
    /* Height of the footer */
    /*    background: #6cf;*/
}

.footer {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
}

.footer a {
    margin: 40px 20px 0 20px;
}

.hidden {
    display: none;
}